@charset "UTF-8";
<!--# set value="#7289da" var="bg-color" -->
<!--# set value="#2c2f33" var="header-bg-color" -->
<!--# set value="#fff" var="fg-color" -->
<!--# set value="#99aab5" var="highlight-color" -->
@font-face {
	font-family: Comic;
	src: local("Comic Sans MS"),
		local("ComicSansMS"),
		local("Comic Sans"),
		local("ComicSans"),
		url(/font/comic.woff2) format("woff2"),
		url(/font/comic.woff) format("woff"),
		url(/font/comic.ttf) format("truetype");
}
@font-face {
	font-family: Comic;
	font-weight: bold;
	src: local("Comic Sans MS Bold"),
		local("ComicSansMS-Bold"),
		local("Comic Sans Bold"),
		local("ComicSans-Bold"),
		url(/font/comicbd.woff2) format("woff2"),
		url(/font/comicbd.woff) format("woff"),
		url(/font/comicbd.ttf) format("truetype");
}
@font-face {
	font-family: Comic;
	font-style: italic;
	src: local("Comic Sans MS Italic"),
		local("ComicSansMS-Italic"),
		local("Comic Sans Italic"),
		local("ComicSans-Italic"),
		url(/font/comici.woff2) format("woff2"),
		url(/font/comici.woff) format("woff"),
		url(/font/comici.ttf) format("truetype");
}
@font-face {
	font-family: Comic;
	font-style: italic;
	font-weight: bold;
	src: local("Comic Sans MS Bold Italic"),
		local("ComicSansMS-BoldItalic"),
		local("Comic Sans Bold Italic"),
		local("ComicSans-BoldItalic"),
		url(/font/comicz.woff2) format("woff2"),
		url(/font/comicz.woff) format("woff"),
		url(/font/comicz.ttf) format("truetype");
}
/* generic */
body, .motd-header, .p-name {
	font-family: Comic, cursive;
	-webkit-font-feature-settings: "kern" 1;
	font-kerning: normal;
}
b, h1, h2, h3, h4, h5, h6, strong {
	font-weight: bold;
}
h1, h2 { margin: 0.3em 0; }
h3, h4 { margin: 0; }
ins { text-decoration: none; }

.channel-emote { max-width: 75px; }
.h-event { margin-bottom: 1em; }
.subheading { font-size: x-small; }

#contard { height: 20em; }
#motd {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
}
/*div.chat-msg-CorpulentBrony span.spoiler { color: #000; }
div.chat-msg-CorpulentBrony span, div.chat-msg-CorpulentBrony span:hover { color: #c79dd7; }
div.chat-msg-CorpulentBrony span strong.username, div.chat-msg-CorpulentBrony span:first-child:after { color: #ef4f91; }*/

/* Image Transforms by Xaekai */
@import url("https://resources.pink.horse/css/img_fx.css");

/* snippets from MLP Anniversary CyTube CSS by Xaekai https://resources.pink.horse/css/mlpanni.css */
/* MLP Anniversary: https://cytu.be/r/mlpanniversary */
.image-embed-small  { max-height: 150px; max-width: 55%; }
.image-embed-medium { max-height: 240px; max-width: 360px; }
.image-embed-large  { max-height: 320px; min-width: 40%; max-width: 66%; }
.playlist-thumbnail { max-height: 180px; max-width: 240px; }

/*  Userlist stuff  */
#userlist {
	min-width: 96px;
	width: auto;
	transition-duration: 1s; 

	/*  Initial Gargoyle  */
	/*    background-image:    url("https://cdn.discordapp.com/attachments/321190285243842560/475139378793021440/unknown.png");
	background-position: left bottom;
	background-repeat:   no-repeat;
	background-size:     90% auto;*/
}

#userlist .userlist_item {
	padding-left:  2px;
	padding-right: 2px;
	/*background: rgba(0,0,0,0.65);*/
}

/*.userlist_op {
	color: #3399FF!important;
	font-weight: bold!important;
}

.userlist_owner {
	color: #205FD9 !important;
	font-weight: bold!important;
}*/

.profile-box {
	max-height: 340px;
}
.profile-image {
	width: 150px;
	height: 150px;
}